{{#article}}
    <h1>{{name}}</h1>
    <p>Published {{published}}</p>
    <p><img src="/images/{{image}}" alt=""></p>
    {{{body}}}
    <ul>
        <li class="btn btn-danger"><a class="link-light link-underline link-underline-opacity-0" href="/delete/{{id}}">Delete</a></li>
        <li class="btn btn-primary"><a class="link-light link-underline link-underline-opacity-0" href="/edit/{{id}}">Edit article</a></li>
    </ul>
{{/article}}